select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: 0px 3px 5px 3px rgb(0, 0, 0);
    border: 0 !important;
    background-image: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    cursor: pointer;
    width: 12rem;
}

form input,
form button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: small;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.315);
}

form button {
    color: white;
    background: rgb(66, 66, 66);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #634b44;
    color: white;
}

form input{
    width: 50vmin;
}

form button:focus{
    background: rgb(20, 20, 20);
}
